<div id="app-view" *ngIf="esriLoaded">
  <div id="layer-visibilities" class="esri-widget" *ngIf="viewLoaded">
    <div>
      <input type="checkbox" [(ngModel)]="layers[0].visible" (change)="onWorldTransportationChange()" /> World Transportation
    </div>
    <div class="controls-section" *ngIf="demographics">
      <app-select-control
        [controlName]="'Demographics'"
        [items]="demographics"
        (selectedChange)="onDemoGraphicsChanged($event)"></app-select-control>
    </div>
    <div class="controls-section" *ngIf="housingDensities">
        <app-select-control
          [controlName]="'Housing Density'"
          [items]="housingDensities"
          (selectedChange)="onDensityChanged($event)"></app-select-control>
      </div>
    <div class="controls-section" *ngIf="lineDistanceMiles !== 0 && lineDistanceMiles">
      <div>Line Distance</div>
      <div>{{lineDistanceMiles}} miles</div>
    </div>
  </div>

  <app-map [basemap]="baseMap"
    [layers]="layers"
    [hasSearch]="hasSearch"
    [hasLayerList]="hasLayerList"
    [hasLocate]="hasLocate"
    [baseMapToggle]="baseMapToggle"
    [locateOnClick]="locateOnClick"
    [hasLineDistance]="hasLineDistance"
    (lineUpdated)="onLineUpdated($event)"
    (viewLoaded)="onViewLoaded()">
  </app-map>

</div>
